$bg-color: #202124; /* BACKGROUNG COLOR */
$tx-color: white; /* TEXT COLOR */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $tx-color;
  font-family: Arial, Helvetica, sans-serif;
  // HEARDER
  .header {
    height: 10%;
    .fristDiv_header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 15px;
      // ACCOUNT ICON
      #acc {
        height: 35px;
        width: 35px;
      }
      // APPS ICON
      #apps {
        height: 30px;
        width: 30px;
      }
      // ALL ICONS CONFIGS
      .icons {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 5px;
        display: grid;
        align-items: center;
        justify-content: center;
      }
      .icons:hover {
        background: rgba(114, 114, 111, 0.37);
        cursor: pointer;
      }
      // LINKS CONFIGS
      .links {
        text-decoration: none;
        font-size: 0.8rem;
        color: $tx-color;
        padding-right: 15px;
      }
      .links:hover {
        text-decoration: underline;
      }
    }
  }

  .main {
    position: relative;
    width: 100%;
    padding-top: 10%;
    margin: auto;
    padding: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // IMAGE LOGO CONFIGS
    .logo_GoogleI {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      #center {
        width: 272px;
        height: 92px;
      }
      div {
        color: rgb(72, 123, 233);
        position: absolute;
        bottom: 1px;
        right: 4px;
      }
    }
    // SEARCH BAR
    #search_input {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
      .form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 45px;
        border: 0.5px solid rgba(255, 255, 255, 0.384);
        border-radius: 35px;
        background: none;
        background-image: url("../img/lup.svg");
        background-position: 11px 12px;
        background-repeat: no-repeat;
        background-size: 22px;
        padding: 10px 10px 10px 50px;
        color: white;
        font-size: 16px;
        font-family: arial, sans-serif;
        padding-top: 3%;
        input {
          border: none;
          background: none;
          position: absolute;
          width: 460px;
          height: 30px;
          margin-right: 16%;
          margin-bottom: 1%;
          color: $tx-color;
        }
        input:focus {
          outline: none;
        }

        // GOOGLE IAMGES SEARCH BUTTON
        #search_button {
          position: absolute;
          right: 11px;
          bottom: 4px;
          width: 35px;
          height: 35px;
          align-self: center;
          background: none;
          border: none;
          i {
            color: rgb(156, 213, 252);
            font-size: 19px;
          }
        }
        #search_button:hover {
          cursor: pointer;
        }
        // SEARCH FROM IMAGE BUTTON
        #cam_button {
          cursor: pointer;
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          background: none;
          border: none;
          right: 51px;
          bottom: 4px;
          width: 35px;
          height: 35px;
          .gb_kb {
            margin-left: 5px;
            width: 25px;
            height: 25px;
            fill: #a3a5ad;
          }
        }
      }
      // HOVER EFECT ON THE SEARCH BAR
      .form:hover {
        border: none;
      }
    }
    #search_input:hover {
      background: #383838b2;
      border-radius: 35px;
    }
  }

  .footer {
    width: 100%;
    background: rgb(21, 21, 21);
    position: absolute;
    bottom: 0;

    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.97rem;
    color: #a3a5ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    #footer_div {
      width: 100%;
      // COUNTRY NAME
      h5 {
        padding: 17px 27px;
        border-bottom: 0.3px solid #4a4b50;
      }
      // LAST PAGE INFORMATIN
      .first_ulDivs {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          padding-right: 20px;
        }
        li:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        #ul1 {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          padding: 17px 50px;
          li {
            padding-bottom: 15px;
          }
        }
        #ul2 {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          padding-right: 50px;
        }
      }
    }
  }
}
// REDUCE LOGO AND SEARCH BAR AND RE-ORGANIZE SOME THINGS
@media (max-width: 640px) {
  body {
    .main {
      padding-top: 5%;
      #search_input {
        .form {
          width: 430px;
        }
      }
    }
    .footer {
      .uls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        #ul1 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
        #ul2 {
          display: flex;
          margin: 0 auto;
          padding-left: 10%;
          padding-bottom: 17px;
          padding-top: 8px;
        }
      }
    }
  }
}
