@charset "UTF-8";
/* BACKGROUNG COLOR */
/* TEXT COLOR */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #202124 !important;
  font-family: Arial, Helvetica, sans-serif;
  /*-END HEADER-*/
}

body header {
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.192);
}

body header .titles {
  padding-left: 20px;
}

body header .titles #g1 {
  color: white;
  margin-top: 15px;
}

body header .titles #g2 {
  color: #e97e7e;
  padding-top: 35px;
  padding-left: 20px;
  margin-bottom: 25px;
}

body header .headerL {
  margin-top: 15px;
  margin-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .headerL .links {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  padding-right: 15px;
}

body header .headerL .links:hover {
  text-decoration: underline;
}

body header .headerL .divI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .headerL #acc {
  height: 35px;
  width: 35px;
}

body header .headerL #apps {
  height: 30px;
  width: 30px;
}

body header .headerL .iu {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .headerL .iu:hover {
  background: rgba(114, 114, 111, 0.37);
  cursor: pointer;
}

body main {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 75%;
  color: rgba(255, 255, 255, 0.801);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 45px 40px;
  /*Todo conteúdo*/
}

body main .ana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1rem;
  color: white;
  font-weight: normal;
}

body main .ana #comns {
  margin-right: 110px;
}

body main #grds #all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Espaço de pesquisa*/
}

body main #grds #all #forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #grds #all #forms .cad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

body main #grds #all #forms .cad input {
  color: whitesmoke;
  border: 0.5px solid rgba(255, 255, 255, 0.473);
  border-radius: 3px;
  background: none;
  width: 580px;
  height: 30px;
  padding-left: 10px;
}

body main #grds #all #forms label {
  margin-right: 10px;
}

body main #grds #all #search {
  border: none;
  border-radius: 4px;
  background: #8ab4f8;
  color: black;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left: 83%;
  width: 125px;
  height: 32px;
}

body main #grds #all #search:hover {
  background: #aecbfa;
  cursor: default;
}

body main #second .com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.671);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

body main #second .com .po {
  margin-bottom: 28px;
}

body main #second .com ul {
  list-style: none;
}

body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(21, 21, 21, 0.836);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: #a3a5ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer #oia {
  width: 100%;
}

body .footer #oia h5 {
  font-size: 0.9rem;
  padding: 20px 40px;
  border-bottom: 0.3px solid #4a4b50;
}

body .footer #oia .uls {
  padding: 10px 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer #oia .uls li {
  padding-right: 20px;
}

body .footer #oia .uls li:hover {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}

body .footer #oia .uls #ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-right: 50px;
}

@media (max-width: 1440px) {
  #total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 95%;
  }
}

@media (max-width: 1280px) {
  #total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  #second {
    display: none;
  }
}

@media (max-width: 600px) {
  #grds #all #forms {
    width: 100%;
  }
  #grds #all #forms .cad {
    margin-bottom: 40px;
  }
  #grds #all #forms .cad .pi {
    position: absolute;
    left: 40%;
    width: 250px;
    height: 30px;
  }
  #grds #search {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
  }
  main {
    padding: 0;
  }
}
/*# sourceMappingURL=styleAd.css.map */